@import './utils/variable.scss';

body {
    background-color: $white !important;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

* {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.title {
    font-family: "Tinos", sans-serif;
}


.img-logo {
    width: 200px;
    margin-top: -15px;
}

.ul-header {
    margin-top: 5px;
    text-decoration: none;
    list-style-type: none;
    display: flex;
    align-items: center;

    li {
        // margin-left: 10px;
        margin-right: 20px;

        a {
            text-decoration: none;
            font-style: italic;
            color: $primary;
        }
    }
}

.ul-menu {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;

    li {
        // margin-left: 10px;
        margin-right: 20px;

        a {
            text-decoration: none;
            // font-style: italic;
            color: $white;

            &:hover {
                color: $white;
            }
        }
    }
}

.bg-primary {
    background-color: $primary !important;
}


.btn {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px !important;
    padding-right: 30px !important;
    font-family: "Tinos", sans-serif;

    &.btn-primary {
        background-color: $primary !important;
        border-color: $primary;
        border-radius: 0px;
        color: $white !important;
        font-weight: 600;
        transition: all ease-in-out 0.5s;

        &:hover {
            background-color: $primar !important;
            color: $white !important;
            transition: all ease-in-out 0.5s;
        }
    }

    &.btn-light {
        background-color: $white;
        border-color: $white;
        border-radius: 0px;
        color: $primary !important;
        font-weight: 600;
        transition: all ease-in-out 0.5s;

        &:hover {
            transition: all ease-in-out 0.5s;
            border-color: $primary;
        }
    }

    &.btn-lg {
        font-size: 14px;
        padding: 15px !important;
        padding-left: 35px !important;
        padding-right: 35px !important;
        border-radius: 3px;
    }

    &:focus {
        box-shadow: none;
    }
}

.banner {
    width: 100%;
    height: 90vh;
    background-image: url('/assets/images/banner/banner1.jpg');
    background-size: cover;
    background-position: 50% 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head {
    // font-weight: bold;
    font-size: 40px;
}

.top {
    margin-top: 100px;
}

.extra {
    width: 60%;
    border: 1px solid $primary;
    position: relative;
    height: 550px;

    .img {
        height: 550px;
        position: absolute;
        margin-top: -50px;
        margin-left: -50px;
    }
}

.extra1 {
    margin-top: -50px;
    width: 100%;
    border: 1px solid $primary;
    position: relative;
    height: 300px;

    .img {
        width: 100%;
        height: 300px;
        position: absolute;
        margin-top: 40px;
        margin-left: 40px;
    }
}

.text-primary {
    color: $primary !important;
}

.text-justify {
    text-align: justify;
}

.img-booutique {
    width: 80%;
    height: 650px;
    object-fit: cover;
}

.w-half {
    width: 60%;
}

.h1 {
    font-size: 45px;
    color: $white;
}

.bg-primar {
    background-color: $primar;
}

.italic {
    font-style: italic;
}

.border-white {
    border-bottom: 1px solid $white;
}

.ul {
    list-style-type: none;
    margin: -30px;

    li {
        margin-top: 10px;
        font-size: 13px;
    
        a {
            color: $lighter;
            text-decoration: none;
        }
    }
}

.input {
    border-radius: 0;
    padding-top: 15px;
    padding-bottom: 15px;

    &:focus {
        border: none;
        box-shadow: none;
    }
}

.a1 {
    text-decoration: none;
    color: $white;
    font-size: 18px;
    margin-left: 20px;
}

.banner1 {
    width: 100%;
    height: 40vh;
    background-image: url('/assets/images/banner/banner1.jpg');
    background-size: cover;
    background-position: 50% 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-degus {
    width: 70%;

}

.border-primary {
    border: 3px solid $primary !important;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
}